* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-bottom: 26px;
  align-items: center;
  justify-content: space-between;

  &-ul {
    display: flex;
    margin: 10px;

  &_img{
    width: 150px;
  }

  &_inicio {
    font-size: 26px;
    padding-right: 20px;
  }

  &_buscar {
    font-size: 26px;
  }

  }
}
//   @media (min-width: 390px) {
//     .nav {
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
//       justify-items: center;
//     }
//  }
