.comedie {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-box {
    display: flex;
    flex-direction: column;
    padding: 5px;



  }


  // &-h2{

  // }
  // &-img {

  // }
}
